#### Importing Necessary Libraries

In [2]:
import pandas as pd
import os

#### Making it unique and merging into a single csv file

In [3]:
files = [file for file in os.listdir('./files')]
all_data = pd.DataFrame()

for file in files:
    with open("files/"+file, 'r') as temp_f:
        # get No of columns in each line
        col_count = [ len(l.split(",")) for l in temp_f.readlines() ]

    ### Generate column names  (names will be 0, 1, 2, ..., maximum columns - 1)
    column_names = [i for i in range(0, max(col_count))]

    ### Read csv
    df = pd.read_csv("files/"+file, delimiter=",", names=column_names)
    df = df.drop(df.columns[-1],axis=1)
    new_header = df.iloc[0]
    df = df[1:]
    df.columns = new_header
    df = df.drop_duplicates(subset = ["Signal_Date"])
    all_data = pd.concat([all_data,df])
all_data.to_csv("all_data.csv",index=False)

In [4]:
data_unique = pd.read_csv("all_data.csv")
data_unique.head()

,Date,Close_Price,Signal_Date,Call,Stop_Loss,Target_1,Target_2,Target_3,Target_4,Status
0,2021-01-01,388.10,2020-12-30,384.70,389.77,381.57,379.04,376.50,372.90,Target 1 Reached
1,2021-01-14,454.35,2021-01-14,450.59,466.14,440.97,433.20,425.43,414.36,Awaiting Targets
2,2021-01-20,947.70,2021-01-19,942.55,956.47,933.93,926.97,920.01,910.10,Target 1 Reached
3,2021-01-21,445.80,2021-01-21,448.29,440.09,454.72,459.24,464.37,469.35,Awaiting Targets
4,2021-01-27,446.45,2021-01-27,444.11,448.43,441.44,439.28,437.12,434.05,Awaiting Targets

#### Cleaning up data

In [5]:
nan_df = data_unique[data_unique.isna().any(axis=1)]

# Dropping NaN rows
data_unique = data_unique.dropna(how='any')
data_unique.head()

,Date,Close_Price,Signal_Date,Call,Stop_Loss,Target_1,Target_2,Target_3,Target_4,Status
0,2021-01-01,388.10,2020-12-30,384.70,389.77,381.57,379.04,376.50,372.90,Target 1 Reached
1,2021-01-14,454.35,2021-01-14,450.59,466.14,440.97,433.20,425.43,414.36,Awaiting Targets
2,2021-01-20,947.70,2021-01-19,942.55,956.47,933.93,926.97,920.01,910.10,Target 1 Reached
3,2021-01-21,445.80,2021-01-21,448.29,440.09,454.72,459.24,464.37,469.35,Awaiting Targets
4,2021-01-27,446.45,2021-01-27,444.11,448.43,441.44,439.28,437.12,434.05,Awaiting Targets

#### Count of total calls generated

In [6]:
total_calls = data_unique['Signal_Date'].count()

#### Error in calls

In [8]:
grouped = data_unique.groupby('Status').groups

# Converting grouped data into list
error_calls = len(list(grouped['Stop Loss has occured']))

#### Correct calls count

In [9]:
correct_calls = total_calls - error_calls